@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.body{
    font-family: 'Poppins', sans-serif;
    background-image: url(/images/background2.webp);
    background-attachment: fixed;
    background-size: cover;  
}

.page-background {
  background-color: rgb(202, 247, 247);
}

